* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0 auto;
    width: 100%;
}

header {
    display: flex;
    width: 100%;
    border: 1px solid black;
}

header h1 {
    margin: 0 auto;
    text-align: center;
}

header img {
    max-width: 80px;
    width: 100%;
    float: left;
}

main {
    max-width: 1000px;
    justify-content: center;
    margin: 0 auto;
}

section {
    width: 70%;
    float: left;
    justify-content: center;
    padding: 10px;
}

.art1 {
    background-color: lightgrey;
    padding-right: 10px;
}

.art3 {
    background-color: lightgrey;
}

.siguiente {
    float: right;
    margin: 5px;
}

.siguiente img {
    height: 20px;
    margin-left: 10px;
    padding-right: 10px;
}

h2 {
    text-align: center;
}

aside {
    width: 30%;
    float: right;
    border: 1px solid black;
    padding: 10px;
}

table {
    width: 100%;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

th,
table tr:nth-child(even) {
    background-color: lightgrey;
}

#formulario {
    border: 1px solid black;
    padding: 10px;
}

footer {
    clear: both;
    background-color: lightgrey;
    text-align: center;
    padding: 20px;
}

@media (max-width: 800px) {
    section {
        width: 100%;
    }
    aside {
        width: 100%;
        clear: both;
    }
}